html {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#pictures {
    display: grid;
    flex-wrap: wrap;
    gap: 16px;/*Adjust the gap as needed, not done */
    flex-direction: column;
    justify-content: center;
    columns: 3;
    grid-template-columns: 1fr 1fr 1fr;
}

p {
    border: 1px solid;
    text-align: center;
    margin: 0;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    display: flex;
}

img {
    max-width: 100%;
    margin: auto;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}